/* ------------------------------------ */
/*				   Less					*/
/* This is your Less entry file			*/
/* ------------------------------------ */

// @use "pico" with (
//   $parent-selector: ".pico"
// );
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

@font-face {
  font-family: "Longdon Decorative Regular";
  // previously this was set to a path that was relative to the css file **at
  // runtime** when we were serving CSS directly from Foundry. Now that we're
  // doing it through Vite it's pointed to an actual resolvable-at-build-time
  // filepath.
  src: url(../assets/fonts/LongdonDecorative.woff2) format("woff2");
}

.window-content.non-resizable {
  padding: 0;
  position: relative;
}

.window-content.resizable {
  position: relative;
  overflow: hidden;
  padding: 0;
  .react-target {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

a.entity-link,
a.content-link,
a.inline-roll {
  background: unset;
  border-style: dashed;
  border-width: 1px;
}

.react-target {
  flex: 1;
}

.window-app,
#sidebar,
.main-controls li,
.sub-controls li,
#players,
#hotbar > *,
#navigation a,
#navigation li {
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to bottom, #000b 0%, #0006 100%);
}

hr {
  width: calc(100% - 2em);
}

button.investigator-secret-hide-reveal-button {
  width: fit-content;
}

// foundry v12 adds "position: relative" to .directory-item, which breaks our
// absolutely-positioned combat tracker
.investigator-combatant-list .directory-item {
  position: absolute;
}

// foundry's default styles mean our compendium pack names get cut off
.compendium-sidebar .directory-item.compendium[data-pack*="pub-crusade"] h3 {
  // was 16px
  font-size: 1em;
  // was 80%
  max-width: 100%;
}

.pub-crusade-roll {
  font-size: 1.2em;
  font-family: "Love Ya Like A Sister", sans-serif;
  .description {
    font-size: 1em;
  }
  .low-or-high {
    font-weight: bold;
    font-size: 1.5em;
  }
  .drink-count {
    font-weight: bold;
    font-size: 1.5em;
  }
  .formula {
    font-size: 1.2em;
    vertical-align: middle;
  }
  .total {
    font-weight: bold;
    font-size: 1.5em;
  }
  .brilliant-catastrophe,
  .success,
  .failure {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.2em;
    border-radius: 0.2em;
    text-align: center;
    margin: 1em;
    // box-shadow: 0 0 0.5em black;
    text-shadow:
      0 0 0.5em black,
      0 0 0.5em black;
    color: white;
  }
  .brilliant-catastrophe {
    font-size: 1.5em;
    background-image: linear-gradient(
      90deg,
      hsl(108deg 100% 50%) 0%,
      hsl(65deg 100% 50%) 20%,
      hsl(22deg 100% 50%) 40%,
      hsl(22deg 100% 50%) 60%,
      hsl(65deg 100% 50%) 80%,
      hsl(108deg 100% 50%) 100%
    );
    box-shadow: 0 0 0.5em 0.1em rgb(102, 0, 0);
  }
  .success {
    font-size: 1.5em;
    background-image: linear-gradient(
      90deg,
      hsl(103deg 100% 74%) 0%,
      hsl(129deg 100% 64%) 21%,
      hsl(154deg 100% 55%) 41%,
      hsl(153deg 100% 55%) 61%,
      hsl(124deg 100% 64%) 81%,
      hsl(95deg 100% 74%) 100%
    );
    box-shadow: 0 0 0.5em 0.1em #060;
  }
  .failure {
    background-image: linear-gradient(
      90deg,
      hsl(39deg 100% 50%) 0%,
      hsl(23deg 100% 50%) 20%,
      hsl(8deg 100% 50%) 40%,
      hsl(8deg 100% 50%) 60%,
      hsl(23deg 100% 50%) 80%,
      hsl(39deg 100% 50%) 100%
    );
    box-shadow: 0 0 0.5em 0.1em #600;
  }
}
